.room-image {
  max-width: 50%;
}

/* override styles here */
.notie-container {
  box-shadow: none;
}

.datepicker {
  z-index: 10000;
}

div:where(.swal2-container) .swal2-html-container {
  overflow: hidden !important; 
  z-index: 2 !important;
}